.timeout {
    width: 100%;
    height: 100%;
    background-color: #e3545c;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('../../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0px;
    z-index:1;
}
.timeout-container {
    height: 70%;
    background-color: #ed1c4a;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

@media only screen and (max-width: 500px) {
    .tm-ct-2 {
        display: grid;
    }
    .tm-ct-3 {
        width: 100%;
    }
    .timeout-container {
        width: 90%;
    }
    .imgtim {
        width: 60%;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 500px) {
    .tm-ct-2 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .tm-btn {
        margin-right: 20px;
    }
    .timeout-container {
        width: 50%;
    }
    .imgtim {
        width: 90%;
    }
}

.tm-ct-3 {
    height: 100%;
    display: grid;
    justify-content: center;
}
.tm-btn {
    width: 100%;
    height: 50px;
    background-color: #fad143;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 2px 2px #cda516;
    font-family: "ConcertOne";
    border: none;
    position: relative;
    font-size: 1.5rem;
    margin-top: 20px;
}
.tm-btn:active {
    left: 2px;
    top: 2px;
    box-shadow: 1px 1px 2px 2px #cda516;
}